* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
    }
}

:root {
    --color-primary: #ED0E64;
    --color-secondary:#fce4ec;
    --main-bg-color:#FFFAF0;
    --text-msg-erro: #e65100;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

/* Estilização de botões */
.btn {
    border: 0px;
    box-shadow: 0px 0px 1px 0px #8c8c8c;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms linear; 
    width: fit-content;
} 

.btn:hover{
    opacity: 0.5;  
}

