main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/img/pink-yellow-plain.jpg);
    background-size: cover;
    color:#212121;
    gap: 20px;
}