.detalhes {
    height: 100%;
    display: grid;
    padding: 80px;  
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.img-detalhes {
    width: 50%; 
    height: 90%; 
}

.div-detalhes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-botoes{
    display: flex;
    gap: 10px;
}

.msg-success {
    background-color: #206620;
    font-size: 14px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    border: 0px;
}

.msg-error {
    background-color: #d32f2f;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    color: white;
    height: auto;
}
