main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 50px 30px 50px;
    align-items: center;
    background-color: #2A2A2A;
    border-radius: 10px;
}

.form-content {
    display: grid;
    grid-template-areas: 
        "nome nome"
        "email celular"
        "data_nascimento foto"
        "senha confirma_senha"
        "button_cadastro button_cadastro";
    
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    gap: 15px;  
}

.form-filme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "titulo tipo"
        "categoria ano"
        "autor foto-capa"
        "descricao descricao"
        "button_cadastro_filme button_cadastro_filme";
    align-items: center;
    gap: 15px;  
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
}

#div-nome { grid-area: nome;}
#email { grid-area: email;}  
#celular { grid-area: celular;}  
#data_nascimento { grid-area: data_nascimento;}
#senha { grid-area: senha;}
#confirmar_senha { grid-area: confirmar_senha;}
#foto { grid-area: foto;}
#button-cadastro {grid-area: button_cadastro;}

#titulo {grid-area: titulo;}
#categoria {grid-area: categoria;}
#ano {grid-area: ano;}
#autor {grid-area: autor;}
#foto-capa {grid-area: foto-capa;}
#div-descricao {grid-area: descricao;}
#button_cadastro_filme {grid-area: button_cadastro_filme;}

.form-content button {
    width: 100%;
}

.form-login button {
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.input-campo {
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px 0px #8c8c8c;
    color:#212121;
}

.input-file {
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px 0px #8c8c8c;
}

#descricao {
    border: none;
    border-radius: 4px;
    height: 130px;
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0px 0px 5px 0px #8c8c8c;
    color:#212121;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

input:focus {
    border:1px solid #8c8c8c;
    outline:none; 
}

.form-content a:hover {
    opacity: 0.5;
}

.error-text {
    display: none;
    font-size: .7rem;
    font-weight: 600;
    color: #d32f2f;
}

option {
     color:#212121;
}

input.error {
    border: solid 2px #d32f2f;
    background-color: #CCBBBB;
    color: #d32f2f;
  }

.visible {
    display: block;
}

.input-form {
    display: flex;
    flex-direction:column;
    font-size: 10px;
    gap:4px;
    width:100%;
}

input.correct {
    background-color: #BBCCBB;
    color: #206620;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 25px;
}

.msg-success {
    background-color: #206620;
    font-size: 14px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    border: 0px;
}

.msg-error {
    background-color: #d32f2f;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    color: white;
    height: auto;
}

@media screen and (max-width: 600px) {
    main {
        padding-top: 50px;
        height: auto;
        padding-bottom:50px;
    }
}


