* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
    }
    color: #F5F5F5;
}

main {
    height: 100vh;
    background-color: #1C1C1C;
    color: #F5F5F5;
}

a {
    text-decoration: none;
    color: #F5F5F5;
}


.card {
    display: flex;
    flex-direction: column;
    background-color: #2A2A2A;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 30px 50px 30px 50px;
    gap: 15px;
    align-items: center;
}

.btn {
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: 500ms linear; 
    width: 100%;
    background-color: #E50914;
}

p {
    margin-bottom: 30px;
}

